<div class="internal-page" ng-cloak>
    <section class="welcome-content">
        <ming-header id="ming-header" menu-selected="Nosotros"></ming-header>
        <ming-welcome-text class="text-center" options="$ctrl.welcomeTextOptions"></ming-welcome-text>
    </section>
    <ming-root current-page="Nosotros"></ming-root>
    <main class="accordion-content py-3">
        <div class="container">
            <div class="row">
                <article class="col-md-8">
                    <h2>Trabajamos para tu éxito</h2>
                    <p>NETWORK apuesta por la simplicidad, la actualidad y la originalidad. Creemos que la innovación creativa es la única vía para promover y fomentar contenidos de calidad que fortalezcan la confianza de los usuarios en las posibilidades y nuevos usos de los productos digitales.</p>
                    <p>Nuestro objetivo es conseguir que clientes y usuarios se sientan conectados en el nuevo mundo de la información con servicios y contenidos que no dificulten su relación, sino que la simplifiquen y la conviertan en un hecho cotidiano, agradable y satisfactorio</p>
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card" ng-repeat="accordion in $ctrl.accordionTextOptions" ng-render="{{$ctrl.forRender}}">
                            <h4 class="card-header" data-toggle="collapse" data-parent="#accordion" data-target="#{{accordion.dynamicTarget}}">{{accordion.title}}</h4>
                            <div id="{{accordion.dynamicTarget}}" class="collapse">
                                <div class="card-block">
                                    <p ng-repeat="text in accordion.content">{{text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <aside class="col-md-4">
                    <img src="images/about.svg" alt="about">
                </aside>
            </div>
        </div>
    </main>
    <ming-footer></ming-footer>
</div>
<init-components></init-components>
